[submodule "submodules/sam2"]
	path = submodules/sam2
	url = https://github.com/facebookresearch/sam2.git
[submodule "submodules/scene_synthesizer"]
	path = submodules/scene_synthesizer
	url = https://github.com/jcub-gold/modified_scene_synthesizer
